.footer {
    background-image: url("/assets/footer.jpeg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    position: relative;
}

.overlay {
    background: black;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}